@media screen and (max-width:600px){
    .container{
        background-color:orange; 
        width:85%;
        height:150px;
        position: relative;
        bottom:20px;
        display: flex;
        flex-direction: column;
       }
       .daw{
       position: relative;
       bottom: 40px;
       left:68px;
       width: 33%;
    }
    .profile-img{
       position: relative;
       right: 265px;
       top:50px;
       width:300px;
       height: 180px;
       }
       .profile-img img{
        height: 150px;
       }
       .information{
        margin-top:0px;
      }
       .icons{
       position: relative;
       top:280px;
        right:20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:0px;
       }
      .son{
        position: relative;
        bottom: 60px;
        right:26px;
      }
      .rag{
        margin-left:5px;
     
      }
      .heading{
        position: relative;
        right: 110px;
      }
    
      .container3{
        position: relative;
        right:110px;
      }
      .container3 h3{
       font-size:25px;
      }
      .container3 h6{
      font-size: 13px;
      }
      .liens{
        display: flex;
        flex-direction: row;
        font-size: 10px;
        position: relative;
        left:10px;
        top:50px;
        margin: 0;
 
    }
    .about{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows:700px;
        gap:5px
    }
  .margin{ 
        font-size:15px;
        line-height:20px;
        position: relative;
        top: 80px;
        right: 100px;
      }
    .ora{
    left: 17px;
    }
    .all{
        position: relative;
        top: 80px;
        right: 100px;
        display:grid; 
        grid-template-columns:50% 50%;
        grid-template-rows: 200px 200px;
         column-gap:20px;
       }

    .liste p{
        display: inline;
        flex-direction: row;
        font-size:28px;
    }
    .junior   {
      font-size:17px;
      position: relative;
      left: 100px;
    }
    .dgn{
      font-size: 15px;
      position: relative;
      left: 100px;
    }
    .pret{
      font-size:13px;
      position: relative;
      left: 100px;
    }
   
    .exp{
        position: relative;
        right:75px;
        bottom:50px;
    }
    .liste{
        display: flex;
         flex-wrap: wrap;
        position: relative;
        top: 130px;
        right: 160px;
    }
    .experience1{
      font-size:13px;
      line-height:20px; 
      position: relative;
      left: 100px;
    }
    .coté{
      font-size:20px;
      position: relative;
      left: 100px;
      bottom: 13px;
    }
    .education{
        display: flex;
        flex-direction:row;  
    }
    .education0{
        position: relative;
        bottom:80px;
        right: 160px;
    }
    .education2{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      bottom:80px;
     }
    .education h2{
      font-size:px;
    } 
    .education p{
     font-size: 15px; 
    }
    .education3{
        position: relative;
        top: 150px;
        right: 250px;
    }
    .education3 h1{
      position: relative;
      font-size: 15px;
    }
    .education3 h5{
        display: inline-flex;
        font-size:12px;
     }
    .education3 h3{
      font-size: 15px;
        font-weight: 500;
      }
      .education3 h4{
        margin: auto;
       font-size:13px;
        display: inline;
      }
      .projets{
        background-image:url(ordi.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height:250px; 
      }
      .chiffre {
        display: flex;
        flex-direction: column;
        margin-left: 140px;
        gap: 10px;
     }
     .chif h1{
        font-size:40px;
      }
      .chif h4{
       padding: 0;
      }
      .chif{
        display: flex;
        gap:8px;
      }
   
    }


 

    